li {
    display: inline-block;
}

body {
    background-color: black;
    color: Yellow;
    font-family: Open Sans, sans-serif;
}

h1 {
    font-size: 48px;
    color: white;
}

#me-pic {
    display: block;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

#my-name {
    text-align: center;
    padding-top: 52px;
    padding-bottom: 24px;
}

.selected {
    background-color: white;
    color: gray;
}

#navigation {
    height: 40px;
    width: 100%;
    /*margin: auto;*/
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    z-index: 1000;

}

#navigation ul li a {
    padding: 10px 14px;
    background-color: black;
    text-decoration: none;
    color: gray;
}

#navigation ul li {
    background-color: black;
    margin-right: -5px;
}

#line {
    background-color: gray;
    height: 1px;
    z-index: 500;
    vertical-align: middle;
    margin-top: -20px;
}